BASEURL_PUBLICPRO=https://environment-url.com
USERSLIST_PUBLICPRO='[{"emailAddress": "dataOfAccountForWorker0", "password": "dataOfAccountForWorker0"}, {"emailAddress": "pdataOfAccountForWorker1", "password": "dataOfAccountForWorker1"}, {"emailAddress": "dataOfAccountForWorker2", "password": "dataOfAccountForWorker2"}, {"emailAddress": "dataOfAccountForWorker3", "password": "dataOfAccountForWorker3"}]'